Intelligent and Weather Adaptive Street Lighting system(nodered flow)/NRF Street light project/Intelligent and Weather Adaptive Street Lighting system(nodered flow).txt
[{"id":"4b2bc7b7.5863e8","type":"tab","label":"Intelligent and Weather Adaptive Street Lighting system","disabled":false,"info":""},{"id":"653af882.f47c18","type":"debug","z":"4b2bc7b7.5863e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"3b9aa22b.db796e","type":"function","z":"4b2bc7b7.5863e8","name":"LDR","func":"global.set(\"ldr\",msg.payload.d.ldr)\nmsg.payload=msg.payload.d.ldr\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["653af882.f47c18","75327923.96f218"]]},{"id":"d94577dc.3529a8","type":"debug","z":"4b2bc7b7.5863e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":480,"wires":[]},{"id":"8eb275af.b9bf28","type":"http in","z":"4b2bc7b7.5863e8","name":"","url":"/dis","method":"get","upload":false,"swaggerDoc":"","x":180,"y":300,"wires":[["d734449d.b24a48"]]},{"id":"1742c282.54938d","type":"http response","z":"4b2bc7b7.5863e8","name":"","statusCode":"","headers":{},"x":570,"y":300,"wires":[]},{"id":"d734449d.b24a48","type":"function","z":"4b2bc7b7.5863e8","name":"display web","func":"msg.payload={\"temperature1\":global.get(\"temperature\"),\"humidity1\":global.get(\"humidity\"),\"moisture\":global.get(\"Soil\")}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["1742c282.54938d"]]},{"id":"f91f3e72.da918","type":"function","z":"4b2bc7b7.5863e8","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["6e4ac37d.0dc79c","30b25a2c.692166","4b346218.df095c"]]},{"id":"296b9c0f.5877f4","type":"http in","z":"4b2bc7b7.5863e8","name":"","url":"/cmd","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["f91f3e72.da918"]]},{"id":"6e4ac37d.0dc79c","type":"http response","z":"4b2bc7b7.5863e8","name":"","statusCode":"","headers":{},"x":570,"y":760,"wires":[]},{"id":"4b346218.df095c","type":"debug","z":"4b2bc7b7.5863e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":680,"wires":[]},{"id":"30b25a2c.692166","type":"ibmiot out","z":"4b2bc7b7.5863e8","authentication":"apiKey","apiKey":"3868fa3f.7aaa06","outputType":"cmd","deviceId":"12345","deviceType":"nodemcu123","eventCommandType":"home","format":"String","data":"vkd","qos":0,"name":"IBM IoT","service":"registered","x":570,"y":580,"wires":[]},{"id":"3511869d.f9f53a","type":"ibmiot in","z":"4b2bc7b7.5863e8","authentication":"apiKey","apiKey":"3868fa3f.7aaa06","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu123","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":150,"y":160,"wires":[["3b9aa22b.db796e"]]},{"id":"5b3b1ebd.d6468","type":"ui_button","z":"4b2bc7b7.5863e8","name":"","group":"6b6b3de9.d037d4","order":0,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":200,"y":420,"wires":[["30b25a2c.692166","d94577dc.3529a8"]]},{"id":"bf8f07a3.8bc1f8","type":"ui_button","z":"4b2bc7b7.5863e8","name":"","group":"d04fc5ba.aad9b8","order":0,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":200,"y":540,"wires":[["30b25a2c.692166","d94577dc.3529a8"]]},{"id":"75327923.96f218","type":"ui_gauge","z":"4b2bc7b7.5863e8","name":"","group":"6987887e.8895e8","order":0,"width":0,"height":0,"gtype":"donut","title":"LDR_STATUS","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":200,"wires":[]},{"id":"3868fa3f.7aaa06","type":"ibmiot","z":0,"name":"aaaa","keepalive":"60","serverName":"kulwgd.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true},{"id":"6b6b3de9.d037d4","type":"ui_group","z":"","name":"light on","tab":"6a9aecff.01f154","disp":true,"width":"6","collapse":false},{"id":"d04fc5ba.aad9b8","type":"ui_group","z":"","name":"light off","tab":"6a9aecff.01f154","disp":true,"width":"6","collapse":false},{"id":"6987887e.8895e8","type":"ui_group","z":"","name":"LDR STATUS","tab":"6a9aecff.01f154","disp":true,"width":"6","collapse":false},{"id":"6a9aecff.01f154","type":"ui_tab","z":"","name":"LDR","icon":"dashboard","disabled":false,"hidden":false}]